[Unit]
Description=PiDGC
DefaultDependencies=false

[Service]
 Type = simple
 ExecStart = /usr/bin/java -Xverify:none -XX:TieredStopAtLevel=1 -Duser.dir=/home/pi/pidgc -jar /home/pi/pidgc/pidgc.jar --spring.config.location=classpath:/application.properties

[Install]
 WantedBy=multi-user.target